
<div class="default-page">
<header id="home">

  <!--<div class="top-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">

          <div class="smo-icon"> <span>Follow us</span> <span><a href="#"><img src="

          assets/images/facebook.png" alt=""/></a></span> <span><a href="#"><img src="assets/images/twitter.png" alt=""/></a></span> <span><a href="#"><img src="assets/images/linkedin.png" alt=""/></a></span> <span><a href="#"><img src="assets/images/googleplus.png" alt=""/></a></span> </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="top-link">
            <ul>
              <li><a href="#" class="info-ico"><span></span>info@webehost.com</a></li>
              <li><a href="#" class="phone-ico"><span></span>8002-341-44550 </a></li>
              <li><a href="#" class="chat-ico"><span></span>Live chat</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="oder">
            <div class="oder-content">
              <div class="container10"> <a id="login-menu" href="#modal" >Login or Sign up</a>
                <div id="modal" class="login-popupContainer" style="display:none;">
                  <div class="popupHeader">
                    <div class="header_title">Login</div>
                    <div class="modal_close"><i class="fa fa-times"></i></div>
                  </div>
                  <div class="popupBody"> -->
                    <!-- Social Login -->
                    <!--<div class="social_login">

                      <div class="login-main-icon"><img src="assets/images/login-icon.png" alt=""/></div>

                      <h1>Your Account</h1>
                      <div class="main_btns-container">
                        <div class="first_half"><a href="#" id="login_form" class="btn login-btn">Login</a></div>
                        <div class="first_half last"><a href="#" id="register_form" class="btn login-btn">Signup</a></div>
                      </div>
                    </div>-->
                    
                    <!-- Username & Password Login form -->
                    <!--<div class="user_login">
                      <form>
                        <input type="text"  placeholder="Email / Username"/>
                        <br />
                        <input type="password"  placeholder="Password"/>
                        <br />
                        <div class="checkbox">
                          <input id="remember" type="checkbox" />
                          <label for="remember">Remember me on this computer</label>
                        </div>
                        <div class="main_btns-container">
                          <div class="first_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                          <div class="first_half last"><a href="#" class="btn btn_blue">Login</a></div>
                        </div>
                      </form>
                      <a href="#" class="forgot_password">Forgot password?</a> </div>-->
                    
                    <!-- Register Form -->
                    <!--<div class="user_register">
                      <form>
                        <input type="text" placeholder="Full Name"/>
                        <br />
                        <input type="email" placeholder="Email Address"/>
                        <br />
                        <input type="password" placeholder="Password"/>
                        <br />
                        <div class="checkbox">
                          <input id="send_updates" type="checkbox" />
                          <label for="send_updates">Send me occasional email updates</label>
                        </div>
                        <div class="main_btns-container">
                          <div class="first_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                          <div class="first_half last"><a href="#" class="btn btn_blue">Signup</a></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="oder-content">l</div>
            <div class="oder-content"><a href="#">Help</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <!--==============================Navarea=============================-->
  <div class="nav-area">
    <nav id="main-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#"><img src="assets/images/logo.png" height="52" alt=""></a> </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown active"> <a href="#home" >Home</a> </li>
            <li><a href="#features">Features</a></li>
            <li><a href="#services">Service</a></li>
            <!-- <li><a href="#offer">Offer</a></li> -->
            <li><a href="#web-hosting">Register</a></li>
            <li><a href="/login">Sign In</a></li>
            <!--<li><a href="#contact">Contact</a></li> -->
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</header>
<!--=============================Banner=============================-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div id="lp-pom-block-10">
    <div class="banner-dot">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="baaner-container">
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
              <div class="carousel-caption">

                <p class="main-image"><img src="assets/images/icon1.png" alt="" /></p>

                <div class="letter-container">
                  <h1><a href="#">Cloud Node</a></h1>
                </div>
                <h2 style="color:#FFF">Fast and reliable</h2>
                <p class="banner-text">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.  Web hosts are companies that provide space on a server owned </p>

                <p> <a class="green-button wobble-horizontal" href="#" role="button">MORE DETAILS</a> <a class="blue-button wobble-horizontal" href="#web-hosting" role="button">ORDER NOW !</a> </p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <div class="banner-inner-container">
                  <div class="letter-container head-space">
                    <h1><a href="#">Good prices unbeatable value</a></h1>
                  </div>
                  <h2 style="color:#FFF">High performance web hosting</h2>
                  <p class="banner-text1">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.  Web hosts are companies that provide space on a server owned </p>
                  <div class="row featurette">

                    <div class="col-md-4 banner-icon hidden-xs hidden-sm"> <img src="assets/images/icon2.png" alt="" /> </div>

                    <div class="col-md-8">
                      <div class="banner-nav">
                        <ul>
                          <li> We Provide fast, reliable and efficient services.</li>
                          <li> Reliable & superfast site speeds</li>
                          <li> We Helps in better utilization of human resources.</li>
                          <li> Email, phone and social media support</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <p><a class="green-button wobble-horizontal" href="#" role="button">MORE DETAILS</a> <a class="blue-button wobble-horizontal" href="#" role="button">ORDER NOW !</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <div class="banner-inner-container">
                  <div class="letter-container head-space">
                    <h1><a href="#">Web hosting control panel</a></h1>
                  </div>
                  <h2 style="color:#FFF"> Most powerfull hosting Package</h2>
                  <p class="banner-text1">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.  Web hosts are companies that provide space on a server owned </p>
                  <div class="row featurette">

                    <div class="col-md-4 banner-icon hidden-xs hidden-sm"> <img src="assets/images/icon3.png" alt="" /> </div>

                    <div class="col-md-8">
                      <div class="banner-nav">
                        <ul>
                          <li> We Provide fast, reliable and efficient services.</li>
                          <li> No setup fees or hidden charges</li>
                          <li> We Helps in better utilization of human resources.</li>
                          <li> 99.99% Uptime Guarantee & 24/7 Live Support</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <p><a class="green-button wobble-horizontal" href="#" role="button">MORE DETAILS</a> <a class="blue-button wobble-horizontal" href="#" role="button">ORDER NOW !</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      <div class="banner-arrow">

        <p class="pulse"><a href="#choose"><img src="assets/images/arrow-bottom.png" alt=""/></a></p>

      </div>
    </div>
  </div>
</div>

<!--============================Home=============================-->
<div id="choose" class="choose-container" >
  <div class="container">
    <div class="row main-head">
      <div class="col-md-6 col-md-offset-3">
        <h1>Why choose our hosting</h1>
        <h2>What we can offer</h2>
      </div>
    </div>
    <div class="row choose">
      <div class="col-sm-6 col-md-3">
        <div class="choose-item choose-img-1">
          <div class="choose-info-wrap">
            <div class="choose-info">
              <div class="choose-info-front choose-img-1"></div>
              <div class="choose-info-back">
                <h3>Secure</h3>
                <p><a href="#">Reliable</a></p>
              </div>
            </div>
          </div>
        </div>
        <h2>Live Support</h2>
        <p class="space-text">Web hosts can also provide data center space and connectivity to the Internet for provide data center space</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="choose-item choose-img-2">
          <div class="choose-info-wrap">
            <div class="choose-info">
              <div class="choose-info-front choose-img-2"></div>
              <div class="choose-info-back">
                <h3>Super</h3>
                <p><a href="#">Support</a></p>
              </div>
            </div>
          </div>
        </div>
        <h2>Online Security</h2>
        <p class="space-text"> Web hosts are companies that provide space on a server owned or leased for use by clients server owned </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="choose-item choose-img-3">
          <div class="choose-info-wrap">
            <div class="choose-info">
              <div class="choose-info-front choose-img-3"></div>
              <div class="choose-info-back">
                <h3>Secure</h3>
                <p><a href="#">Reliable</a></p>
              </div>
            </div>
          </div>
        </div>
        <h2>Hosting Solutions</h2>
        <p>The most basic is web page and small-scale file hosting, where files can be uploaded via page and small-scale</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="choose-item choose-img-4">
          <div class="choose-info-wrap">
            <div class="choose-info">
              <div class="choose-info-front choose-img-4"></div>
              <div class="choose-info-back">
                <h3>Solution</h3>
                <p><a href="#">Reliable</a></p>
              </div>
            </div>
          </div>
        </div>
        <h2>Quick Install</h2>
        <p class="choose1"> The files are usually delivered to the Web "as is" or with minimal processing files are usually delivered to the</p>
      </div>
    </div>
  </div>
</div>

<!--=============================Features=============================-->
<div id="features" class="features-container">
  <div class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>What's features in our hosting</h1>
        <h2>Its an good oppurtunity </h2>
        <p>The scope of web hosting services varies greatly. The most basic is web page and small-scale file hosting, where files can be uploaded via File Transfer Protocol or a Web interface. The files are usually delivered to the Web "as is" or with minimal processing. Personal web site hosting 
          is typically free, advertisement-sponsored, or inexpensive 
          is typically free, advertisement-sponsored, or inexpensive. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon1"></span>
          <h2>Unlimited bandwidth</h2>
          <p>Our bandwidth isn't limited. Why should yours be?</p>
        </div>
      </div>
      <!--<div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon2"></span>
          <h2>Free domain names</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet, lectus tempus placerat mollis, orci augue vitae. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon3"></span>
          <h2>Unlimited email accounts</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet, lectus tempus placerat mollis, orci augue vitae. </p>
        </div>
      </div>-->
      <div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon4"></span>
          <h2>99.9 % uptime guarantee</h2>
          <p>Our 24/7/365 support staff with expert system admins keep your server running at its peak. We use industry best practices, the best data centers and ensure your server has the latest security patches.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon5"></span>
          <h2>Easy website builder</h2>
          <p>What you see is what you get. You can make your own website in Cloudnode.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6" >
        <div class="features"> <span class="featuresIcon6"></span>
          <h2>E-commerce solutions</h2>
          <p>If you want to built an e-commerce website, you will have a big chance to create a great e-commerce. Just choose how much loots needed for your e-commerce.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==============================Services=============================-->

<div id="services" class="service-container">
  <div class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>What's services we offer</h1>
        <h2>We create new ground </h2>
        <p>The scope of web hosting services varies greatly. The most basic is web page and small-scale file hosting, where files can be uploaded via File Transfer Protocol or a Web interface. The files are usually delivered to the Web "as is" or with minimal processing. Personal web site hosting 
          is typically free, advertisement-sponsored, or inexpensive 
          is typically free, advertisement-sponsored, or inexpensive. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 " >

        <div class="service1"> <img src="assets/images/service-image.png" alt=""> </div>

      </div>
      <div class="col-sm-12 col-md-6 service-text-area" >
        <div class="service"> <span class="serviceIcon"></span>
          <h2>Simple and Easy</h2>
          <p>We make it easy to transfer from another host - your website, all the data that was on your server, and any mysql databases!.</p>
        </div>
        <div class="service"> <span class="serviceIcon"></span>
          <h2>Reilable Web Hosting</h2>
          <p>We guarantee that your site will be up 99.9% of the time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==============================Offer==============================-->

<!-- <div id="offer" >
  <div id="lp-pom-block-11">
    <div class="container">
      <div class="row offer-head">
        <div class="col-md-12">
          <h1>Special hot offer</h1>
          <h2>You can foster new social connections</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6" >
          <div class="offer-box1">
            <div class="offer-text">
              <ul>
                <li> Free Website Builde</li>
                <li>Free Domain Registration</li>
                <li> Dedicated hosting</li>
                <li> Money Back Guarantee</li>
                <li>24/7 Quality Support</li>
                <li> Dedicated hosting</li>
              </ul>
            </div>
            <div class="offer-image wobble-horizontal">
              <div class="offer-image-box "><span>$2</span>.50
                <p>Per month</p>
              </div>
            </div>
          </div>

          <div class="offer-boxhead">Small business web hosting<a href="#"><img src="assets/images/more-arrow.png" alt=""/> </a></div>

        </div>
        <div class="col-sm-6 col-md-6" >
          <div class="offer-box1">
            <div class="offer-text">
              <ul>
                <li>Free Website Builde</li>
                <li>Free Domain Registration</li>
                <li> Dedicated hosting</li>
                <li>Money Back Guarantee</li>
                <li>24/7 Quality Support</li>
                <li>Free Domain Registration</li>
              </ul>
            </div>
            <div class="offer-image1 wobble-horizontal">
              <div class="offer-image-box"><span>$3</span>.50
                <p>Per month</p>
              </div>
            </div>
          </div>

          <div class="offer-boxhead">Host your website <a href="#"><img src="assets/images/more-arrow.png" alt=""/> </a> </div>

        </div>
      </div>
    </div>
  </div>
</div> -->

<!--==============================Pricing tables=============================-->
 <!-- START CONTAINER FLUID -->
           <style>
            .TglIjin{z-index:1151 !important;}
          </style>
          <div id="web-hosting" class="container-fluid container-fixed-lg">
            <div class="row">
               <div class="col-md-3"></div>
                  <h1 class="col-md-6">Complete Registration To Start Your Project</h1>
            </div>
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Fill your Identity
                    </div>
                  </div>
                  <div class="panel-body">
                    

                    <form class="" role="form" method="POST" action="/register">

                      <div class="form-group form-group-default required ">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="ex: some@example.com" required>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group form-group-default required">
                            <label>First name</label>
                            <input name="firstname" type="text" class="form-control" required>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group form-group-default">
                            <label>Last name</label>
                            <input name="lastname" type="text" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group form-group-default required">
                        <label>Password</label>
                        <input name="pass" type="password" class="form-control" required>
                      </div>
                      <div class="form-group form-group-default required">
                        <label>Address</label>
                        <input name="address"type="text" class="form-control" required>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group form-group-default required">
                            <label>Country</label>
                            <input name="country" type="text" class="form-control" required>
                          </div>
                        </div> 
                        <div class="col-sm-6">
                          <div class="form-group form-group-default required">
                            <label>Province</label>
                            <input name="province" type="text" class="form-control" required>
                          </div>
                        </div> 
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group form-group-default required">
                            <label>City</label>
                            <input name="city" type="text" class="form-control" required>
                          </div>
                        </div> 
                        <div class="col-sm-6">
                          <div class="form-group form-group-default required">
                            <label>Zipcode</label>
                            <input name="zipcode" type="text" class="form-control" required>
                          </div>
                        </div> 
                      </div>

                      <div class="form-group  form-group-default required">
                        <label>Date of birth</label>
                        <input name="dateofbirth" type="text" class="form-control" id="datepicker-component2"  required>
                      </div>
                      <button class="btn btn-complete btn-cons col-md-12" height="50px">COMPLETE</button>
                    </form>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              <!--<div class="col-md-6">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      Price
                    </div>
                  </div>
                  <div class="panel-body">
                    <h4>
                          Choose your bill
                    </h4>   
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Memory</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="memory" />
                          
                          
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Space</label>
                        </div>
                         <div class="col-sm-4">             
                          <input type="text"  class="resource" disabled id="space" />                                                    
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Bandwith</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="bandwith" />                          
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Request </label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="request" />                          
                        </div>
                      </div>
                      
                      <div class="row">
                      <div class="cube">
                      <div class="a"></div>
                      <div class="b"></div>
                      <div class="c"></div>
                      <div class="d"></div>
                      <div id="slider-range-min"></div>
                      </div>
                       <input type="text"  class="slider"  disabled id="loot" />
                       <input type="text"  class="slider" disabled id="amount" />
                    </div>
                  </div>
                </div>

                <div class="col-md-3"></div>
                  <button class="btn btn-complete btn-cons col-md-4" height="50px">COMPLETE</button>
                </div>-->
              </div>
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
<!--<div id="web-hosting" class="price-container">
  <div  class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>Our pricing tables</h1>
        <h2>Solutions to everyone </h2>
      </div>
    </div>
    <div class="row" id="columns">
      <div class="col-sm-6 col-md-3 fade"  >
        <div class="main-table">
          <div class="price-table-top"> <a class="price-table-topbg ">
            <h3>Basic Plan</h3>
            </a> <a class="price-circle">
            <p class="price">$100</p>
            <p class="month">Monthly</p>
            </a> </div>
          <ul class="price-plans">
            <li class="price-plan">5 bonus points every month</li>
            <li class="price-plan">2 Months Support</li>
            <li class="price-plan">10 Subdomains</li>
            <li class="price-plan">10 Subdomains</li>
          </ul>
          <a href="#" class="price-buy-now wobble-horizontal">Buy Now</a> </div>
      </div>
      <div class="col-sm-6 col-md-3 fade" >
        <div class="main-table">
          <div class="price-table-top"> <a class="price-table-topbg ">
            <h3>Business Plan</h3>
            </a> <a class="price-circle">
            <p class="price">$150</p>
            <p class="month">Monthly</p>
            </a> </div>
          <ul class="price-plans">
            <li class="price-plan">5 bonus points every month</li>
            <li class="price-plan">2 Months Support</li>
            <li class="price-plan">10 Subdomains</li>
            <li class="price-plan">10 Subdomains</li>
          </ul>
          <a href="#" class="price-buy-now wobble-horizontal">Buy Now</a> </div>
      </div>
      <div class="col-sm-6 col-md-3 fade">
        <div class="main-table">
          <div class="price-table-top"> <a class="price-table-topbg ">
            <h3>Advanced Plan</h3>
            </a> <a class="price-circle">
            <p class="price">$290</p>
            <p class="month">Monthly</p>
            </a> </div>
          <ul class="price-plans">
            <li class="price-plan">5 bonus points every month</li>
            <li class="price-plan">2 Months Support</li>
            <li class="price-plan">10 Subdomains</li>
            <li class="price-plan">10 Subdomains</li>
          </ul>
          <a href="#" class="price-buy-now active wobble-horizontal">Buy Now</a> </div>
      </div>
      <div class="col-sm-6 col-md-3 fade" >
        <div class="main-table">
          <div class="price-table-top"> <a class="price-table-topbg ">
            <h3>Unlimited Plan</h3>
            </a> <a class="price-circle">
            <p class="price">$390</p>
            <p class="month">Monthly</p>
            </a> </div>
          <ul class="price-plans">
            <li class="price-plan">5 bonus points every month</li>
            <li class="price-plan">2 Months Support</li>
            <li class="price-plan">10 Subdomains</li>
            <li class="price-plan">10 Subdomains</li>
          </ul>
          <a href="#" class="price-buy-now wobble-horizontal">Buy Now</a> </div>
      </div>
    </div>
  </div>
</div> -->
<!--==============================Our clients============================-->

<!-- <div id="clients" class="client-container">
  <div class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>Our clients</h1>
        <h2>Some of our satisfied clients </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2" >
        <div class="client">
          <div id="owl-sponsors" class="owl-carousel">

            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo1.png" alt="Themeforest" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo2.png" alt="Photodune" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo3.png" alt="Themeforest" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo4.png" alt="AudioJungle" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo5.png" alt="Graphicriver" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo2.png" alt="Photodune" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo3.png" alt="Themeforest" width="260" height="80"></a> </div>
            <div class="item"> <a target="_blank" href="#"><img src="assets/images/client-logo4.png" alt="AudioJungle" width="260" height="80"></a> </div>
          </div>
          <div class="sponsor-title-nav">
            <div class="owl-Navigation"> <a class="btn prev"><img src="assets/images/prev-arrow.png" alt=""/></a> <a class="btn next"><img src="assets/images/next-arrow.png" alt=""/></a> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--================================Client reviews=============================-->

<!-- <div class="clientreview-container">
  <div class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>Client Reviews</h1>
        <h2>Few words from our satisfied customers </h2>
      </div>
    </div>
    <div class="col-lg-12 ">
      <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
          <div class="testimonial ">
            <ul class="row">
              <li class="col-sm-6 col-md-6">
                <blockquote class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur unde quae totam recusandae<span class="arrowbubble"></span></blockquote>

                <div class="testiimg"><img width="100" height="100" src="assets/images/client-image.png" alt="testimonial1" ></div>

                <div class="testiinfo">
                  <h4 class="testititle">Catherine Grace</h4>
                  <span>CEO Digitalcraft</span> </div>
                <div class="clearfix"></div>
              </li>
              <li class="col-sm-6 col-md-6">
                <blockquote class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur unde quae totam recusandae.<span class="arrowbubble"></span></blockquote>

                <div class="testiimg"><img width="100" height="100" src="assets/images/client-image.png"  alt="testimonial2"></div>

                <div class="testiinfo">
                  <h4 >Jane Doe</h4>
                  <span> Themotiko Developer </span></div>
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--================================Search domin=============================-->

<!-- <div id="lp-pom-block-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12 domin-head">
        <h1>Search for a domain</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2" >
        <div class="input-append">
          <input class="search" type="text" placeholder="Enter your domain name">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown"> .COM <span class="caret"></span> </button>
            <ul class="dropdown-menu">
              <li><a href="#">.COM</a></li>
              <li><a href="#">.IN</a></li>
              <li><a href="#">.UK</a></li>
              <li><a href="#">.ME</a></li>
            </ul>
          </div>
        </div>
        <p class="search-area wobble-horizontal"> <a href="#" class="search-btn">Search Domain </a> </p>
      </div>
    </div>
  </div>
</div>
 -->
<!--==============================Get in touch=============================-->

<!-- <div id="contact" class="service-container">
  <div class="container">
    <div class="row main-head">
      <div class="col-md-12">
        <h1>Get in touch</h1>
        <h2>We would love to here about you </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1" >
        <div class="contact-form" id="contact-us">
          <form id="phpcontactform" role="form">
            <fieldset>
              <div class="col-xs-12 col-sm-6"  >
                <div class="form-group">
                  <input type="text" class="form-control" name="name"  id="name"  placeholder="Full Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email ID">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile Number">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6" >
                <div class="form-group">
                  <textarea class="form-control textarea" rows="5" name="message" id="msg" placeholder="Your Message"></textarea>
                </div>
              </div>
              <div class="relative fullwidth col-xs-12">
                <button type="submit" class="form-btn wobble-horizontal">Send Message</button>
                <span class="loading"></span> </div>
              <div class="clear"></div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--==============================Newsletter=============================-->

<div  class="newsletter-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3" >
        <div class="newsletter"> <span class="newsletterIcon"></span>
          <h2>Newsletter</h2>
          <p>Sign up </p>
        </div>
      </div>
      <form class="form-search"  role="form" action="subscribe.php" id="subscribeForm" method="POST">
        <div class="col-sm-6 col-md-6" >
          <input type="email" name="email" id="address"  required="required" class="newsletter-form" placeholder="Enter your email address" data-validate="validate(required, email)">
        </div>
        <div class="col-sm-3 col-md-3" >
          <button type="submit" class="newsletter-btn wobble-horizontal">SUBSCRIBE</button>
          <span id="result" class="alertMsg"></span> </div>
      </form>
    </div>
  </div>
</div>
<!--==============================Footer============================-->
<div  class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3" >
        <h2>Support/help</h2>
        <ul class="list">
          <li><a href="#"><i class="fa fa-angle-right"></i> Terms Of Use </a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Return Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Single and Portfolios</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Recent Blogs or News</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Ordering and Tracking</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3" >
        <h2>Contact info</h2>
        <ul class="contact_address">
          <li>
            <div class="cotact_icon"> <i class="fa fa-map-marker fa-lg"></i></div>
            <div class="cotact_text"> Laboratorium Arsitektur dan Jaringan Komputer, Department of Informatics, Institut Teknologi Sepuluh Nopember, Surabaya, 60111</div>
          </li>
          <li>
            <div class="cotact_icon"><i class="fa fa-phone"></i></div>
            <div class="cotact_text"> +38 068 123-45-6</div>
          </li>
          <li>
            <div class="cotact_icon"><i class="fa fa-print"></i></div>
            <div class="cotact_text"> 7 -45 -673 -2134</div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3" >
        <h2>Our policies</h2>
        <ul class="list">
          <li><a href="#"><i class="fa fa-angle-right"></i> Terms Of Use </a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Return Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> My Account</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Single and Portfolios</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Recent Blogs or News</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i> Ordering and Tracking</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3" >
        <h2>Payment methods</h2>
        <div class="payment-area"> <a href="#" target="_blank" title=""><img src="assets/images/maestro.png" alt=""></a> <a href="#" target="_blank" title=""><img src="assets/images/visa.png" alt=""></a> <a href="#" target="_blank" title=""><img src="assets/images/master-card.png" alt=""></a> <a href="#" target="_blank" title=""><img src="assets/images/paypal.png" alt=""></a> <a href="#" target="_blank" title=""><img src="assets/images/debit.png" alt=""></a> <a href="#" target="_blank" title=""><img src="assets/images/express.png" alt=""></a> </div>
      </div>
    </div>
  </div>
</div>

<!--===========================Goto top============================--> 
<a href="#" id="go-top"></a> 

<!--===============================Footer-bottom============================-->

<div  class="footer-bottom">
  <div class="container">
    <div class="row">
      <p>© 2015 webhost. All Rights Reserved</p>
    </div>
  </div>
</div>
<!--==============Theme box=================-->

<!--<div class="styles">
  <p class="skins">Skins </p>
  <ul>
    <li class="bg1"> <a href="style=style" title="stylesheet" class="styleswitch"> </a></li>
    <li class="bg2"> <a href="style=style1" title="stylesheet1" class="styleswitch"></a></li>
    <li class="bg3"> <a href="style=style2" title="stylesheet2" class="styleswitch"></a></li>
    <li class="bg4"> <a href="style=style3" title="stylesheet3" class="styleswitch"></a></li>
    <li class="bg5"> <a href="style=style4" title="stylesheet4" class="styleswitch"></a></li>
    <li class="bg6"> <a href="style=style5" title="stylesheet5" class="styleswitch"></a></li>
    <li class="bg7"> <a href="style=style6" title="stylesheet6" class="styleswitch"></a></li>
    <li class="bg8"> <a href="style=style7" title="stylesheet7" class="styleswitch"></a></li>
  </ul>
</div>
<a class="styles-open"  href="#closeoptions"> </a>-->
<!--<div class="styles-closed " > <a href="#options"> </a> </div>-->
<script type="text/javascript">

/*===================
   Letter effect
    ===================*/
  
  $(function() {
		$(".letter-container h1 a").lettering();
			
		});
		
  /*===================
   OWL Carousel
    ===================*/

	jQuery(document).ready(function() {
		var owl = jQuery("#owl-sponsors");

		owl.owlCarousel({
			stopOnHover : true,
			items : 5,
			itemsCustom : false,
			itemsDesktop : [1200,5],
			itemsDesktopSmall : [1240,5],
			itemsTablet: [767,2],
			itemsTabletSmall: false,
			itemsMobile : [480,1],
			singleItem : false,
			pagination: false,
			itemsScaleUp : false,
		});
		jQuery(".next").click(function(){
			owl.trigger('owl.next');
		})

		jQuery(".prev").click(function(){
			owl.trigger('owl.prev');
		})
	});
 $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 1,
      min: 0,
      max: 1000,
      slide: function( event, ui ) {
        $( "#amount" ).val( "IDR " +ui.value *3+ "000");
        $( "#loot" ).val( ui.value +"Loots" );
        $( "#memory" ).val( ui.value  + "MB");
        $( "#space" ).val( (ui.value * 0.03).toFixed(3) + " GB");
        $( "#bandwith" ).val( ui.value  + "GB");
        $( "#request" ).val( ui.value *1000 + " times/month");
        $(".a, .b, .c, .d").width(ui.value/10 + "%");
      }
    });
    $(".ui-slider-handle").text("<>");
    $( "#amount" ).val( "IDR " + $( "#slider-range-min" ).slider( "value")*3 + "000");
    $( "#loot" ).val( $( "#slider-range-min" ).slider( "value") +"Loots");
    $( "#memory" ).val(  $( "#slider-range-min" ).slider( "value") + "MB");
    $( "#space" ).val( $( "#slider-range-min" ).slider( "value")*0.03 + " GB");
    $( "#bandwith" ).val( $( "#slider-range-min" ).slider( "value") + "GB");
    $( "#request" ).val( $( "#slider-range-min" ).slider( "value")*1000 + " times/month");
  });
  $('#loot').change(function(){
      $( "#amount" ).val("IDR "+ $('#loot').val() *3+ "000");
      $( "#memory" ).val( $('#loot').val().split(" ")[0]  + "MB");
      $( "#space" ).val( ($('#loot').val() * 0.03).toFixed(3) + " GB");
      $( "#bandwith" ).val( $('#loot').val()  + "GB");
      $( "#request" ).val( $('#loot').val() *1000 + " times/month");
      $(".a, .b, .c, .d").width($('#loot').val()/10 + "%");
  });
</script> 

<!--============== Form validation JS=================--> 
<script src="assets/js/contact_form.js" type="text/javascript"></script> 

<!--============================Bootstrap==========================--> 

<script src="assets/js/bootstrap.min.js" type="text/javascript"></script> 

<!--============================Sticky.js===========================--> 

<script src="assets/js/jquery.sticky.js" type="text/javascript"></script> 


<!--========================Lettering.js========================--> 

<script type="text/javascript" src="assets/js/jquery.lettering.js"></script> 



<!--====================Theme change js=========================--> 

<script type="text/javascript" src="assets/demo/styleswitch.js"></script> 





</div>
