 <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
        
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="<?php echo site_url();?>/admin" class="detailed">
              <span class="title">Home</span>
            </a>
            <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
          <!-- START ACTION BAR -->
          <div class="sm-action-bar">
          </div>
          <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        
        <div class=" pull-right">
          <div class="header-inner">
            <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
          </div>
        </div>
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold">Rohman Muhamad</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
               
            </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li><a href="#"><i class="pg-settings_small"></i> Akun</a>
                </li>
                <li><a href="#"><i class="pg-outdent"></i> Ubah Password</a>
                </li>
                <li class="bg-master-lighter">
                  <a href="/do_logout" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
          <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <div class="row">
                  <!--<div class="col-lg-7 col-md-6 ">-->
                    <!-- START PANEL -->
                    <!--<div class="full-height">
                      <div class="panel-body text-center">
                        <img class="image-responsive-height demo-mw-600" src="assets/img/demo/tables.jpg" alt="">
                      </div>
                    </div>-->
                    <!-- END PANEL -->
                  <!--</div>-->
                  <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                      <div class="panel-heading">
                        <div class="panel-title">USER DATA
                        </div>
                      </div>
                      <div class="panel-body">
                        <h3>Rohman Muhamad</h3>
                        <p>rmuhamad@live.com</p>
                        <p class="small hint-text m-t-5">Jl. Margorejo Indah 115A, Surabaya
                          <br> 031 8433950 / 031 8416042</p>
                        <br>
                      </div>
                    </div>
                    <!-- END PANEL -->
                  </div>
                  <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                    <div class="panel-heading">
                      <div class="panel-title">Price</div>
                    </div>
                  
                    <div class="panel-body">
                    <h4>Choose your bill</h4>   
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Memory</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="memory" />
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Space</label>
                        </div>
                         <div class="col-sm-4">             
                          <input type="text"  class="resource" disabled id="space" />                                                    
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Bandwith</label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="bandwith" />                          
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-3">
                          <label class="resource">Request </label>
                        </div>
                         <div class="col-sm-4">
                          <input type="text"  class="resource" disabled id="request" />                          
                        </div>
                      </div>
                      
                      <div class="row">
                      <div class="cube">
                      <div class="a"></div>
                      <div class="b"></div>
                      <div class="c"></div>
                      <div class="d"></div>
                      <div id="slider-range-min"></div>
                      </div>
                       <input type="text"  class="slider"  disabled id="loot" />
                       <input type="text"  class="slider" disabled id="amount" />
                    </div>
                <div class="col-md-3"></div>
                  <button class="btn btn-complete btn-cons col-md-4" height="50px">COMPLETE</button>  
                    <!-- END PANEL -->
                </div>
                </div>
              </div>
              </div>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg bg-white">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title">Service
                </div>
                <div class="pull-right">
                  <div class="col-xs-12">
                    <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table table-hover demo-table-search" id="tableWithSearch">
                  <thead>
                    <tr>
                        <th class="center" style="width:2%">No</th>
                        <th class="center" style="width:20%">Apps Name</th>
                        <th class="center" style="width:25%">Storage</th>
                        <th class="center" style="width:15%">Request</th>
                        <th class="center" style="width:15%">Bandwidth</th>
                        <th class="center" style="width:10%">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="gradeA">
                      <td class="center">1</td>
                      <td class="center">Web Cloud</td>
                      <td class="center">100/2500 MB remaining</td>
                      <td class="center">1000/2000 used</td>
                      <td class="center">125 GB remaining</td>
                        <td class="center">
                        <div class="btn-group btn-group-xs">
                        <a href="" class="btn btn-complete"><i class="fa fa-search"></i></a>
                        <a class="btn btn-success"><i class="fa fa-pencil"></i></a>
                        <a href="<?php echo site_url().'/admin/deletepas/'.$listpas['IDPASIEN'];?>" class="btn btn-danger" onClick="return delconfirm();"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                    <tr class="gradeC">
                      <td class="center">2</td>
                      <td class="center">VPN Server</td>
                      <td class="center">10/2500 MB remaining</td>
                      <td class="center">10/1000 used</td>
                      <td class="center">250 GB remaining</td>
                        <td class="center">
                        <div class="btn-group btn-group-xs">
                        <a href="" class="btn btn-complete"><i class="fa fa-search"></i></a>
                        <a class="btn btn-success"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-danger" onClick="return delconfirm();"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <!-- END CONTAINER FLUID -->
          
        </div>
        <!-- END PAGE CONTENT -->

        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2015 </span>
              <span class="font-montserrat">Cloud Node</span>
              <span class="hint-text">All rights reserved. </span> 
            </p>

            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Powered by JalaBit</a> <span class="hint-text">&amp; Brother ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>

      <script type="text/javascript">
      $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 1,
      min: 0,
      max: 1000,
      slide: function( event, ui ) {
        $( "#amount" ).val( "IDR " +ui.value *3+ "000");
        $( "#loot" ).val( ui.value +"Loots" );
        $( "#memory" ).val( ui.value  + "MB");
        $( "#space" ).val( (ui.value * 0.03).toFixed(3) + " GB");
        $( "#bandwith" ).val( ui.value  + "GB");
        $( "#request" ).val( ui.value *1000 + " times/month");
        $(".a, .b, .c, .d").width(ui.value/10 + "%");
      }
    });
    $(".ui-slider-handle").text("<>");
    $( "#amount" ).val( "IDR " + $( "#slider-range-min" ).slider( "value")*3 + "000");
    $( "#loot" ).val( $( "#slider-range-min" ).slider( "value") +"Loots");
    $( "#memory" ).val(  $( "#slider-range-min" ).slider( "value") + "MB");
    $( "#space" ).val( $( "#slider-range-min" ).slider( "value")*0.03 + " GB");
    $( "#bandwith" ).val( $( "#slider-range-min" ).slider( "value") + "GB");
    $( "#request" ).val( $( "#slider-range-min" ).slider( "value")*1000 + " times/month");
  });
  $('#loot').change(function(){
      $( "#amount" ).val("IDR "+ $('#loot').val() *3+ "000");
      $( "#memory" ).val( $('#loot').val().split(" ")[0]  + "MB");
      $( "#space" ).val( ($('#loot').val() * 0.03).toFixed(3) + " GB");
      $( "#bandwith" ).val( $('#loot').val()  + "GB");
      $( "#request" ).val( $('#loot').val() *1000 + " times/month");
      $(".a, .b, .c, .d").width($('#loot').val()/10 + "%");
  });

      </script>