		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><span class="clip-list-2"></span>
					</button>

					<a class="navbar-brand" href="#">
						<i class="fa fa-adn"></i>  Cloudnode
					</a>
				</div>

				<div class="navbar-tools">
					<ul class="nav navbar-right">

						<!-- start: USER DROPDOWN -->
						<li class="dropdown current-user"><a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#"><img src="assets/images/avatar-1-small.jpg" class="circle-img" alt=""><span class="username"> Administrator</span><i class="clip-chevron-down"></i></a>
							
							<ul class="dropdown-menu">
								<li>
									<a href="#l">
										<i class="clip-user-2"></i>
										&nbsp;My Profile
									</a>
								</li>
								<li>
									<a href="pages_messages.html">
										<i class="clip-bubble-4"></i>
										&nbsp;My Messages (3)
									</a>
								</li>

								<li class="divider"></li>
								<li>
									<a href="login_example1.html">
										<i class="clip-exit"></i>
										&nbsp;Log Out
									</a>
								</li>
							</ul>
						</li>
						<!-- end: USER DROPDOWN -->
					</ul>
					<!-- end: TOP NAVIGATION MENU -->
				</div>
			</div>
			<!-- end: TOP NAVIGATION CONTAINER -->
		</div>
		<!-- end: HEADER -->

		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			<div class="navbar-content">

				<div class="main-navigation navbar-collapse collapse">

					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					
					<ul class="main-navigation-menu">
						<li class="active">
							<a href="#"><i class="clip-home-3"></i>
								<span class="title"> Dashboard </span><span class="selected"></span>
							</a>
						</li>
					</ul>

				</div>

			</div>

			<!-- start: PAGE -->
			<div class="main-content">
				<div class="container">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<ol class="breadcrumb">
								<li>
									<i class="clip-file"></i>
									<a href="#">Dashboard</a>
								</li>
							</ol>
							
							<div class="page-header">
								<h1>Dashboard</h1>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->

					<!-- start: PAGE CONTENT -->
					Page Content
					<!-- end: PAGE CONTENT-->

				</div>
			</div>
			<!-- end: PAGE -->
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<div class="footer clearfix">
			<div class="footer-inner">
				2015 &copy; Cloudnode
			</div>
			<div class="footer-items">
				<span class="go-top"><i class="clip-chevron-up"></i></span>
			</div>
		</div>
		<!-- end: FOOTER -->